/* global.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: #333;
  }
  